@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

p, h1, h2, h3, h4 {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
}

h1 {
    font-size: 105px;
    font-weight: 600;
}

p {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1px;
}

.container {
    background-color: #fff;
}

.container-img {
    display: flex;
    flex-flow: column wrap;

}

.grey {
    background: #ddd;
}

header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000;
    background: url(img/dom-nauiki.jpg) no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 7%;
    text-align: center;
    justify-content: space-between;
}

.wrapper h1, .wrapper p {
    width: 1100px;
    margin: 0 auto;
    color: #fff;
}

.wrapper h1 {
    line-height: 125px;
    margin-bottom: 50px;
}

.wrapper p {
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 24px;
}

.desc {
    display: block;
    width: 70%;
    text-align: center;
    line-height: 40px;
    margin: auto;
    padding: 100px 0;
}

